<svg version="1.1" id="Warstwa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
  y="0px" viewBox="0 0 493 288 " style="enable-background:new 0 0 493 288;" style="width: 50%" xml:space="preserve">
  <style type="text/css">
    .st0 {
      fill: #CCCACA;
    }

    .st1 {
      fill: #FFFFFF;
    }

    .st2 {
      fill: #939292;
    }

    .st3 {
      fill: #A8A5A5;
    }

    .st4 {
      fill: #FFFFFF;
      stroke: #000000;
      stroke-miterlimit: 10;
    }

    .st5 {
      fill: #F9F7F7;
    }

    .st6 {
      fill: #FCFCFC;
    }

  </style>
  <g>
    <g>
      <rect x="0.5" y="-4.5" class="st0" width="499" height="283" />
      <path d="M499-4v282H1V-4H499 M500-5H0v284h500V-5L500-5z" />
    </g>
    <g class="app-clickable">
    </g>
    <g>
      <rect x="301.5" y="219.5" class="st2" width="29" height="30" />
      <path d="M330,220v29h-28v-29H330 M331,219h-30v31h30V219L331,219z" />
    </g>
    <g>
      <rect x="339.5" y="219.5" class="st3" width="6" height="30" />
      <path d="M345,220v29h-5v-29H345 M346,219h-7v31h7V219L346,219z" />
    </g>
    <g>
      <rect x="67.5" y="220.5" class="st2" width="29" height="30" />
      <path d="M96,221v29H68v-29H96 M97,220H67v31h30V220L97,220z" />
    </g>
    <g>
      <rect x="109.5" y="220.5" class="st3" width="6" height="30" />
      <path d="M115,221v29h-5v-29H115 M116,220h-7v31h7V220L116,220z" />
    </g>
    <g>
      <rect x="301.5" y="34.5" class="st2" width="29" height="30" />
      <path d="M330,35v29h-28V35H330 M331,34h-30v31h30V34L331,34z" />
    </g>
    <g>
      <rect x="343.5" y="34.5" class="st3" width="6" height="30" />
      <path d="M349,35v29h-5V35H349 M350,34h-7v31h7V34L350,34z" />
    </g>
    <g>
      <rect x="97.5" y="127.5" class="st2" width="173" height="25" />
      <g>
        <path d="M270,128v24H98v-24H270 M271,127H97v26h174V127L271,127z" />
      </g>
    </g>
    <g>
      <rect x="424.5" y="43.5" class="st2" width="24" height="186" />
      <path d="M448,44v185h-23V44H448 M449,43h-25v187h25V43L449,43z" />
    </g>



  </g>

</svg>
