.st0 {
  fill: #CCCACA;
}
.st1 {
  fill: #FFFFFF;
}
.st2 {
  fill: #939292;
}
.st3 {
  fill: #A8A5A5;
}
.st4 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #F9F7F7;
}
.st6 {
  fill: #FCFCFC;
}
