<div>
<svg>

  <rect (click)="onClick($event)"
        style="fill:#808080;stroke-width:0.17363016"
        id="Kitchen"
        width="34.745041"
        height="73.23185"
        x="175.32881"
        y="28.126844" />

  <animate xlink:href="#Kitchen"
           begin="click"
           attributeName="fill"
           from="0"
           to="#808080"
           dur="0.5s"
           
           />


  <rect (click)="onClick($event)"
        style="fill:#0000ff;stroke-width:0.1840692"
        id="Female WC"
        width="26.726952"
        height="38.21954"
        x="-3.5474951e-08"
        y="40.15398" />
  <animate xlink:href="#Female WC"
           attributeName="fill"
           from="0"
           to="#0000ff"
           dur="0.5s"
           begin="click" />

  <rect (click)="onClick($event)"
        style="fill:#0000ff;stroke-width:0.18377323"
        id="Male WC"
        width="28.330568"
        height="37.952274"
        x="0.26726949"
        y="84.787994" />
  <animate xlink:href="#Male WC"
           attributeName="fill"
           from="0"
           to="#0000ff"
           dur="0.5s"
           begin="click" />

  <rect (click)="onClick($event)"
        style="fill:#370d0d;stroke-width:0.26458332"
        id="Boss"
        width="101.56242"
        height="41.159508"
        x="43.832203"
        y="82.115311" />
  <animate xlink:href="#Boss"
           attributeName="fill"
           from="0"
           to="#370d0d"
           dur="0.5s"
           begin="click" />
</svg>
</div>
